*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    width: 50%;
    margin: 0 auto;
}
                      
.blog__header {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.blog__title {
    font-family: 'Roboto', sans-serif;
}
.blog__body {
    display: flex;
    flex-direction: column;
}

.blog__section {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.blog__card {
    font-family: 'Roboto', sans-serif;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 465px;
    height: 200px;
    padding: 1rem;
    border: 5px solid lightgray;
    border-radius: 5px;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.blog__current {
    border: 2px solid lightgray;
}

.blog__link {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}

.blog__footer {
    background-color: rgb(233, 227, 227);
    color: gray;
    height: 100px;
    border-top: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    body {
        width: 437px;
    }
    
    .blog__header {
        width: 400px;
    }

    .blog__body {
        width: 400px;     
    }

    .blog__section {
        width: 300px;
        display: flex;
        flex-direction: column;    
    }

    .blog__card {
        width: 400px;
    }
}
